 <section class="hero">
        <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <h1 style="color:white">MAHONEY MARRIAGES</h1>
              <h3 style="color:white">Wedding Officiation Services</h3>
              <hr>
              <div class="row">
                <div class="large-6 columns large-centered">
                  <ul class="button-group even-2">
                    <li><%= link_to 'About', page_path('about'), {class: "button"} %></li>
                    <li><%= link_to 'Contact', new_contact_path, {class: "button"} %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns about-box">
            <div class="black-box">
              <h2 style="color:white">The Mahoneys Are All About Marriage!</h2>
              <p>We’re a husband-and-wife pair committed to making your special day as special as ours was.
              <p>Interested in an officiation?</p>
              <%= link_to 'Get in touch →', new_contact_path, {class: "secondary small button"} %>
            </div>
          </div>
        </div>
      </section>

      <section class="hero-content">
      <div class="row">
        <div class="large-8 columns about-content">
          <h4>What We Do</h4>
          <p>We provide officiation services for all sorts of ceremonies. We are licensed with the state of Maryland. We accept everyone with open arms.</p>
          <p>When we're not helping you revel in the most memorable day of your life, we're taking care of our lovely son, Jude, as well as Mr. Peepers, our cat. We love you always, Fiona!</p>
        </div>
        <div class="large-4 columns">
          <ul class="small-block-grid-2">
            <li><a href="#"><img src="http://lorempixel.com/output/nightlife-q-c-640-480-5.jpg"/></a></li>
            <li><a href="#"><img src="http://lorempixel.com/output/nightlife-q-c-640-480-8.jpg"/></a></li>
            <li><a href="#"><img src="http://lorempixel.com/output/fashion-q-c-640-480-10.jpg"/></a></li>
            <li><a href="#"><img src="http://lorempixel.com/output/people-q-c-640-480-2.jpg"/></a></li>
          </ul>
        </div>
      </div>
      </section>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-9 columns">
                <h4>Get in touch!</h4>
                <p>We're available for evening ceremonies during the week, and all day during the weekend.</p>
              </div>
              <div class="large-3 columns">
                <%= link_to 'Contact Us', new_contact_path, {class: "radius button right"} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="large-6 columns">
            <p>© Mahoney Marriages 2015</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
