<% content_for :title do %>About<% end %>
<h3>About Bobby and Lisa</h3>
<p>When Bobby is not officiating, he is immersing himself in all things culinary: he provides nutritious meals for students in Harford County, Maryland. His team also caters weddings, so contact him today if you want a wedding that is official--officially delicious!</p>
<p>Lisa is an educational administrator with Baltimore County who brings years of experience teaching English and literature to the table. She will ensure that your ceremony is not only eloquent, but also grammatically flawless. Fun fact: She also studied dance at Towson University, so if you want to learn a few new steps at the reception, she's your resource! </p>
