<% content_for :title do %>Terms of Use<% end %>
<h3>Terms of Use</h3>

<p>No information contained herein may be reproduced or distributed without express permission by the owners or representatives of Mahoney Marriage.</p>