
        <div class="row">
          <div class="large-4 columns">
            <p>© Mahoney Marriages 2015</p>
          </div>
          <div class="large-4 columns"><%= link_to('Site Created By Preston Copeland', 'http://threemonthcoder.com', :target=>"_blank") %>
          </div>
          <div class="large-4 columns">
            <ul class="inline-list right">
              <li><%= link_to 'About', page_path('about') %></li>
              <li><%= link_to 'Terms of Use', page_path('terms_of_use') %></li>
              <li><%= link_to 'Privacy Policy', page_path('privacy_policy') %></li>
            </ul>
          </div>
        </div>

